<h1> Home </h1>
<p>This is the {{ title }} page</p>

{{!-- TA lab4 additional code --}}
{{#if isAvailable}}
<ul id="chatList">
    {{#each rooms}}
        <li id="chatroom_name"> <a href={{this.chatroom_name}}> {{this.chatroom_name}} </a></li>
    {{/each}}
</ul>
{{/if}}

<form action="/create" method="POST">
    Chatroom: <input type="text" name="roomName"><br>
    <button type="submit">Send to backend</button>
</form>

<script>
    // TODO: Need to set HTML class types
    intervalID = window.setInterval(function(){
    fetch("http://localhost:8080/getRoom")
    .then(function (items) {
            items.json()
            .then((jsonResponse) => {
                let chatList = document.getElementById('chatList')
                let chatListChildren = chatList.children
                let chatRoomSet = {}

                // Adding all currently displayed chatroom to a set
                for (let i = 0; i < chatListChildren.length; ++i) {
                    chatRoomSet[chatListChildren[i].innerText] = true;
                }

                console.log(chatListChildren)
                console.log(chatRoomSet);
                console.log(jsonResponse);
                for (let i = 0; i < jsonResponse.length; ++i) {
                    // If the chatrooms in JSON are NOT in the set
                    if (!(jsonResponse[i].chatroom_name in chatRoomSet)) {
                        let list_item = document.createElement('li');
                        let aElement = document.createElement('a')
                        aElement.innerHTML = `${jsonResponse[i].chatroom_name}`
                        aElement.href = `${jsonResponse[i].chatroom_name}`
                        list_item.appendChild(aElement)
                        chatList.appendChild(list_item)
                        console.log(`new element ${jsonResponse[i].chatroom_name} added to room list`)
                    }
                }
            })
            .catch((err) => { console.log(err) })

            })
    .catch((err) => { console.log(err) })
    }, 2000);
</script>